<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WakeOnLanServer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <WakeOnLanServer.Properties.Settings>
            <setting name="UseOwnServerPort" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OwnServerPortNumber" serializeAs="String">
                <value>43538</value>
            </setting>
            <setting name="UseOwnWakeUpPort" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OwnWakeUpPortNumber" serializeAs="String">
                <value>43537</value>
            </setting>
            <setting name="LogDebugInformation" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StartServerOnStartup" serializeAs="String">
                <value>False</value>
            </setting>
        </WakeOnLanServer.Properties.Settings>
    </userSettings>
</configuration>